﻿@model PagedList.IPagedList<StarAirEdi.Models.DeliveryOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h3>
    @Html.ActionLink("Add DO", "Create")
</h3>
@using (Html.BeginForm("Index", "DeliveryOrder", FormMethod.Get))
{
    <p>
        Find by Mawb or Hawb No.: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Delivery Order No.", "Index", new { sortOrder = ViewBag.DOSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.DeliverOrderNo)*@
        </th>
        <th>
            @Html.Label("Job Date")
            @*@Html.DisplayNameFor(model => model.JobDate)*@
        </th>
      
        <th>
            @Html.Label("Igm No")
            @*@Html.DisplayNameFor(model => model.IgmNo)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IgmYear)
        </th>*@
        <th>
            @Html.Label("Flight No")
            @*@Html.DisplayNameFor(model => model.FlightNo)*@
        </th>
        
        <th>
            @Html.Label("Master AWB")
        </th>

        <th>
            @Html.Label("House AWB")
            @*@Html.DisplayNameFor(model => model.HawbNo)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PortOfOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortOfDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPkg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>*@
        <th>
            @Html.Label("Consignee Name")
            @*@Html.DisplayNameFor(model => model.ConsigneeName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CarnNo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IgmNo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IgmYear)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FlightNo)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.MawbNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HawbNo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PortOfOrigin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortOfDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPkg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ConsigneeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Print", "PrintDeliveryOrder", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
  <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))






