﻿@model StarAirEdi.Models.DeliveryOrder

@{
    ViewBag.Title = "PrintDeliveryOrder";
}
<br />
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title></title>
    <style>
        /*body {
            font: normal 15px arial;
        }*/

        table {
            font: normal 15px arial;
        }

        h2 {
            font: 16px arial;
            display: inline;
            margin: 0px;
            padding: 0px;
        }

        h3 {
            font: bold 16px arial;
            display: inline;
            margin: 0px;
            padding: 0px;
        }

        h4 {
            font: 12px arial;
            display: inline;
            margin: 0px;
            padding: 0px;
        }

        h41 {
            font: bold 12px arial;
            display: inline;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<body>


    <div align="center">
        <center>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.AgentName</h2></td>
                </tr>
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.Address1</h2></td>
                </tr>
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.Address2</h2></td>
                </tr>
            </table>
        </center>
    </div>
    <table width="100%" border="1">
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="4"><div align="center" class="style7">IMPORT AIR DELIVERY ORDER </div></td>
                    </tr>
                    <tr>
                        <td width="54%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                        <td width="9%"><strong>Ref No: </strong></td>
                        <td width="12%">@Html.DisplayFor(model => model.DeliverOrderNo)</td>
                    </tr>
                    <tr>
                        <td><span class="style10">To</span></td>
                        <td>&nbsp;</td>
                        <td><strong>Date</strong></td>
                        <td>@Html.DisplayFor(model => model.JobDate)</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="style7">
                                The Office of the Commissioner of Customs
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="style10">Cargo Terminal, I.G.I. Airport,India</span></td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="style10">Please deliver to  company name @Html.DisplayFor(model => model.ConsigneeName) or order the forwarding of the packages after the Collection of your charge</span> </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="16%"><h2>I.G.M : </h2></td>
                                    <td width="84%"><font class="style10"> @Html.DisplayFor(model => model.IgmNo)</font></td>
                                </tr>
                                <tr>
                                    <td><span class="style10">Flight No:</span> </td>
                                    <td><font class="style10">@Html.DisplayFor(model => model.FlightNo)</font></td>
                                </tr>
                                <tr>
                                    <td><span class="style10">Date:</span></td>
                                    <td><font class="style10">@Html.DisplayFor(model => model.FlightDate)</font></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table width="100%" border="1">
                                <tr>
                                    <td><strong>MAWB NO.</strong></td>
                                    <td><strong>HAWB NO. </strong></td>
                                    <td><strong>NO OF PKGS </strong></td>
                                    <td><strong>WT. IN KGS </strong></td>
                                    <td><strong>NATURE O F GOODS</strong></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.MawbNo) </td>
                                    <td>@Html.DisplayFor(model => model.HawbNo)</td>
                                    <td>@Html.DisplayFor(model => model.TotalPkg)</td>
                                    <td>@Html.DisplayFor(model => model.GrossWeight)</td>
                                    <td>@Html.DisplayFor(model => model.ItemDescription)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="style10">Your Faithfully </span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p class="style10">For @ViewBag.AgentName</p>
                            <p>&nbsp;</p>
                            <p class="style10">(Authorized Signature)  </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <div align="center">
        <center>


            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.AgentName</h2></td>
                </tr>
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.Address1</h2></td>
                </tr>
                <tr>
                    <td width="100%" colspan="4" align="center"><h2>@ViewBag.Address2</h2></td>
                </tr>



            </table>
        </center>
    </div>
    <table width="100%" border="1">
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="4"><div align="center" class="style7">IMPORT AIR DELIVERY ORDER </div></td>
                    </tr>
                    <tr>
                        <td width="54%">&nbsp;</td>
                        <td width="25%">&nbsp;</td>
                        <td width="9%"><strong>Ref No: </strong></td>
                        <td width="12%">@Html.DisplayFor(model => model.DeliverOrderNo)</td>
                    </tr>
                    <tr>
                        <td><span class="style10">To</span></td>
                        <td>&nbsp;</td>
                        <td><strong>Date</strong></td>
                        <td>@Html.DisplayFor(model => model.JobDate)</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="style7">
                                The Office of the Commissioner of Customs
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="style10">Cargo Terminal, I.G.I. Airport,India</span></td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="style10">Please deliver to  company name @Html.DisplayFor(model => model.ConsigneeName) or order the forwarding of the packages after the Collection of your charge</span> </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="16%"><h2>I.G.M : </h2></td>
                                    <td width="84%"><font class="style10"> @Html.DisplayFor(model => model.IgmNo)</font></td>
                                </tr>
                                <tr>
                                    <td><span class="style10">Flight No:</span> </td>
                                    <td><font class="style10">@Html.DisplayFor(model => model.FlightNo)</font></td>
                                </tr>
                                <tr>
                                    <td><span class="style10">Date:</span></td>
                                    <td><font class="style10">@Html.DisplayFor(model => model.FlightDate)</font></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table width="100%" border="1">
                                <tr>
                                    <td><strong>MAWB NO.</strong></td>
                                    <td><strong>HAWB NO. </strong></td>
                                    <td><strong>NO OF PKGS </strong></td>
                                    <td><strong>WT. IN KGS </strong></td>
                                    <td><strong>NATURE O F GOODS</strong></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.MawbNo) </td>
                                    <td>@Html.DisplayFor(model => model.HawbNo)</td>
                                    <td>@Html.DisplayFor(model => model.TotalPkg)</td>
                                    <td>@Html.DisplayFor(model => model.GrossWeight)</td>
                                    <td>@Html.DisplayFor(model => model.ItemDescription)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="style10">Your Faithfully </span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p class="style10">For @ViewBag.AgentName</p>
                            <p>&nbsp;</p>
                            <p class="style10">(Authorized Signature)  </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <script language="JavaScript">
        function HidePrintbtn() {
            document.getElementById('btnprint').style.display = 'none';
            window.print();
            document.getElementById('btnprint').style.display = 'block';
        }

        if (window.print) {

            document.write('<form>'
            + '<input type=button name=print id=btnprint value="    Print   " '
            + 'onClick="HidePrintbtn();"> </form>');
        }
        // End -->
    </script>
    


</body>
</html>


