﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title></title>
</head>
<body>
    <!--Start Form -->

    <table width="878px" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td width="580" valign="top">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

                    <tr valign="top">
                        <td height="273" colspan="4">
                            <p align="justify">
                            <p align="justify">
                                
                            <p align=center>
                                <strong>
                                    <font size=3><u>&nbsp;Usage Tips&nbsp;</u></font>
                                </strong><span style="mso-ansi-language: EN-US">&nbsp;<o:p></o:p></span>

                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">
                                <span style="mso-ansi-language: EN-US">
                                    1.<span style="FONT: 7pt 'Times New Roman'">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span><span style="mso-ansi-language: EN-US">
                                    Please enter the Mawb details by clicking Mawb>Add MAWB, similarly you can add the HAWB.
                                </span>
                            </p>
                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">
                                <span style="mso-ansi-language: EN-US">
                                    2.<span style="FONT: 7pt 'Times New Roman'">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span><span style="mso-ansi-language: EN-US">
                                     After completing MAWB/HAWB feeding select the checklist option from report and cross check all the data carefully.
                                </span>
                            </p>
                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">
                                <span style="mso-ansi-language: EN-US">
                                    3.<span style="FONT: 7pt 'Times New Roman'">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span><span style="mso-ansi-language: EN-US">
                                      If all the Mawb/Hawb details are correct then you may transmit the data to Customs through transmit option.
                                </span>
                            </p>
                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">
                                <span style="mso-ansi-language: EN-US">
                                    4.<span style="FONT: 7pt 'Times New Roman'">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span><span style="mso-ansi-language: EN-US">
                                    If you are filing Consol Manifest after
                                    the arrival of Flight, <strong>
                                        <u>
                                            then
                                            IGM No and IGM Year are mandatory for all
                                            fields.<o:p></o:p>
                                        </u>
                                    </strong>
                                </span>
                            </p>
                           
                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">
                                <span style="mso-ansi-language: EN-US">
                                    5.<span style="FONT: 7pt 'Times New Roman'">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span><span style="mso-ansi-language: EN-US">
                                    Please do
                                    check up the status of consols filed with
                                    ICEGATE.<o:p></o:p>
                                </span>
                            </p>
                            <table cellspacing="0" cellpadding="0" class="form_text" align="center" border="1">

                                <col width="56">
                                <col width="444">
                                <tr height="17">
                                    <th height="17" width="56"><span class="form_text">&nbsp;CODE</span></th>
                                    <th width="444"><span class="style9">ERROR DESCRIPTION</span></th>
                                </tr>
                                <tr height="17">
                                    <td height="17"> 000</td>
                                    <td>SUBMITTED JOB SUCCESSFULLY</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">001</td>
                                    <td>MESSAGE TYPE CAN BE F/A ONLY</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">002</td>
                                    <td>CONSOL NOT SUBMITTED AMENDMENT CAN NOT BE FILED</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">003</td>
                                    <td>MASTER HAS ALREADY BEEN SUBMITTED, GO FOR AMENDMENT</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">004</td>
                                    <td>CARN NO IS NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">005</td>
                                    <td>CARN NUMBER/AIRLINE CODE NOT REGISTERED</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">006</td>
                                    <td>MASTER AIRWAY BILL NO IS NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">007</td>
                                    <td>MASTER NO. HAS WRONG AIRLINE CODE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">008</td>
                                    <td>MASTER NO. HAS WRONG CHECK DIGIT</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">009</td>
                                    <td>MASTER NO. HAS WRONG AIRLINE CODE/CHECK DIGIT</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">010</td>
                                    <td>MASTER NO.HAS SPECIAL CHARACTER</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">011</td>
                                    <td>MASTER NO. HAS WRONG AIRLINE CODE/SP.CHAR.EXISTS</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">012</td>
                                    <td>MASTER NO. HAS WRONG CHECK DIGIT/SP.CHAR.EXISTS</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">013</td>
                                    <td>MASTER NO. HAS WRONG CHECK DIGIT/AIRLINE CD/SP.CHAR.EXISTS</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">014</td>
                                    <td>PORT OF ORIGIN&nbsp; IS NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">015</td>
                                    <td>PORT OF ORIGIN NOT VALID IN CONSOL MASTER</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">016</td>
                                    <td>PORT OF DESTINATION IS NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">017</td>
                                    <td>PORT OF DESTINATION NOT VALID IN CONSOL MASTER</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">018</td>
                                    <td>TOTAL PACKAGE IN CONSOL MASTER CANNOT BE NULL OR ZERO/NEGATIVE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">019</td>
                                    <td>GROSS WEIGHT CANNOT BE NULL OR ZERO/NEGATIVE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">020</td>
                                    <td>ITEM DESCRIPTION CANNOT BE NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">021</td>
                                    <td>MESSAGE TYPE CAN BE F/A/A/D ONLY</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">022</td>
                                    <td>HOUSE AIRWAY BILL NUBER NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">023</td>
                                    <td>HOUSE CONTAINS SPECIAL CHARACTERS</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">024</td>
                                    <td>PORT OF ORIGIN IS NULL IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">025</td>
                                    <td>PORT OF ORIGIN NOT VALID IN CONSOL HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">026</td>
                                    <td>PORT OF DESTINATION IS NULL IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">027</td>
                                    <td>PORT OF DESTINATION NOT VALID IN CONSOL HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">028</td>
                                    <td>TOTAL PACKAGES IS NULL/ZERO/NEGATIVE IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">029</td>
                                    <td>GROSS WEIGHT IS NULL/ZERO/NEGATIVE IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">030</td>
                                    <td>ITEM DESCRIPTION CANNOT BE NULL IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">031</td>
                                    <td>SUBMISSION MODE IS NOT VALID IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">032</td>
                                    <td>FOUND DUPLICATE HOUSE DETAIL FOUND IN HOUSE</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">033</td>
                                    <td>NO OF PACKAGES AT CONSOL MASTER CAN NOT BE MORE THAN CONSOL    HOUSES</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">034</td>
                                    <td>GIFT OF GROSS WT IS MORE/LESS 10% BETWEEN MASTER AND HOUSES    LEVELS</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">035</td>
                                    <td>HOUSE LEVEL DATA IS NOT THREE FOR THIS JOB</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">036</td>
                                    <td>LATE SUBMISSION - AMENDMENT NO.---DATED---PUT FOR APPROVAL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">037</td>
                                    <td>MULTIPLE LINES IS IGM IS THERE MODIFY THE JOB</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">038</td>
                                    <td>HAWB DATE CAN NOT BE NULL</td>
                                </tr>
                                <tr height="17">
                                    <td height="17">039</td>
                                    <td>HAWB DATE CAN NOT BE NULL</td>
                                </tr>
                            </table>
                            <p class=MsoNormal
                               style="MARGIN-LEFT: 0.75in; TEXT-INDENT: -0.5in; mso-list: l0 level1 lfo1; tab-stops: list .75in">&nbsp;</p>
                            <p align=justify>&nbsp;</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>



    <!--end Form -->




</body>
</html>
