﻿@model StarAirEdi.Models.Mawb

@{
    ViewBag.Title = "Create";
}

<h3>Add Master AWB</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Mawb</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", String.Empty)
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MawbNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MawbNo, new { htmlAttributes = new { @maxlength = "11" } })
                @Html.ValidationMessageFor(model => model.MawbNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfOrg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfOrg, new { htmlAttributes = new { @maxlength = "3", @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.PortOfOrg,null, new { @class = "immediate" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfDest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfDest, new { htmlAttributes = new { @maxlength = "3", @class = "form-control1" }})
                @Html.ValidationMessageFor(model => model.PortOfDest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPkg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPkg, new { htmlAttributes = new { @type = "number" } })
                @Html.ValidationMessageFor(model => model.TotalPkg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrossWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrossWeight, new { htmlAttributes = new { @type = "number"} })
                @Html.ValidationMessageFor(model => model.GrossWeight)
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Main List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
