﻿@model PagedList.IPagedList<StarAirEdi.Models.Mawb>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="~/Content/site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Mawb";
}

@*<h3>Master Airway Bill </h3>*@
<script>        
        $(document).ready(function () {
            debugger
            $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                content: function () {
                    debugger
                    var obj = $(this).attr('data-id');
                    //alert('Ratnesh')
                    return ShowPopover(obj);
                }
            });
            function ShowPopover(obj) {                
                return $('#' + obj).html();
            }
        });

</script>
<h3>
    @Html.ActionLink("Add Mawb", "Create")
</h3>

@using (Html.BeginForm("Index", "Mawb", FormMethod.Get))
{
    <p>
        Find by Mawb No. or Origin: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Mawb No", "Index", new { sortOrder = ViewBag.MawbSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Label("Port Of Origin")
        </th>
        <th>
            @Html.Label("Port Of Destination")
            @*@Html.DisplayNameFor(model => model.PortOfDest)*@
        </th>
        <th>
            @Html.Label("Total Package")
            @*@Html.DisplayNameFor(model => model.TotalPkg)*@
        </th>
        <th>
            @Html.Label("Gross Weight")
            @*@Html.DisplayNameFor(model => model.GrossWeight)*@
        </th>
        <th>
            @Html.Label("Item Desc")
            @*@Html.DisplayNameFor(model => model.ItemDesc)*@
        </th>

        <th>
            @Html.Label("Shipment Type")
            @*@Html.DisplayNameFor(model => model.ShipmentType)*@
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FlightDate)
            </th>*@
        <th>
            @Html.Label("Transmit Status")
            @*@Html.DisplayNameFor(model => model.IsSubmitted)*@
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MawbNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortOfOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortOfDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPkg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDesc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShipmentType)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FlightDate)
                </td>*@
            <td>
                
                @*@Html.DisplayFor(modelItem => item.IsSubmitted)*@

                <div id="@item.Id" data-id="10" class="hide">
                    @foreach (var ackitem in item.TransmissionAcks)
                    {
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    @if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem1 => ackitem.TransmissionDate);
                                    }
                                </td>
                                <td>
                                    @if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem1 => ackitem.MawbNo);
                                    }
                                </td>
                                <td>
                                    @if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem1 => ackitem.StatusCode);
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                </div>


                   
                    @if (item.TransmissionAcks.Count() > 0)
                        {
                        if (item.TransmissionAcks.Where(t => t.StatusCode != null).Count() > 0)
                        {
                            if (item.TransmissionAcks.Where(t => !t.StatusCode.IsEmpty()).OrderByDescending(d => d.Id).FirstOrDefault().StatusCode == "000")
                            {
                                <a class="glyphicon glyphicon-ok-circle" style="color:#00FF00;" href="#" data-toggle="popover" data-id="@item.Id" data-html="true" title="IceGate Response" data-content=""></a>
                            }
                            else
                            {
                                <a class="glyphicon glyphicon-remove-circle" style="color:#FF0000;" href="#" data-toggle="popover" data-html="true" title="Icegate Response" data-content="TEST"></a>
                            }
                        }
                    @*<a class="glyphicon glyphicon-ok-circle" style="color:#00FF00;" href="#" data-toggle="popover" data-html="true" title="Popover Header" data-content="
                        <table>
                            <tr><td>@if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().TransmissionDate);}
                                </td>
                                <td>
                                    @if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().MawbNo);}
                                </td>
                                <td>
                                    @if (item.TransmissionAcks.Count() > 0)
                                    {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().StatusCode);}
                                </td>
                             </tr>
                        </table>">
                    </a>
                    }
                    else if (item.TransmissionAcks.Where(t => !t.StatusCode.IsEmpty()).OrderByDescending(d => d.Id).FirstOrDefault().StatusCode != "000")
                    {
                        <a class="glyphicon glyphicon-remove-circle" style="color:#FF0000;" href="#" data-toggle="popover" data-html="true" title="Popover Header" data-content="
                            <table>
                                <tr>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().TransmissionDate);
                                        }
                                    </td>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().MawbNo);
                                        }
                                    </td>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().StatusCode);
                                        }
                                    </td>
                                </tr>
                            </table>">
                        </a>
                    }
                    else
                    {
                        <a class="glyphicon glyphicon-exclamation-sign" style="color:#FF0000;" href="#" data-toggle="popover" data-html="true" title="Popover Header" data-content="
                            <table>
                                <tr>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().TransmissionDate);
                                        }
                                    </td>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().MawbNo);
                                        }
                                    </td>
                                    <td>
                                        @if (item.TransmissionAcks.Count() > 0)
                                        {@Html.DisplayFor(modelItem => item.TransmissionAcks.FirstOrDefault().StatusCode);
                                        }
                                    </td>
                                </tr>
                            </table>">
                        </a>*@
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color: #FFFF00;"></span>
                    }
               
            </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Location.PortLocation)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Part", "Part", new { id = item.Id }) |
            @Html.ActionLink("Amend", "Amendment", new { id = item.Id }) |
            <span onclick="if(@item.IsSubmitted) {alert('Master AWB is already Transmitted, Can\'t be deleted !');return false;} else {return true;}"><a href="/Mawb/Delete?id=@item.Id" class="delLink">Delete</a></span>
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
        </tr>
    }


</table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
