﻿@model StarAirEdi.Models.Mawb

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mawb</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", String.Empty)
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MawbNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MawbNo)
                @Html.ValidationMessageFor(model => model.MawbNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfOrg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfOrg)
                @Html.ValidationMessageFor(model => model.PortOfOrg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfDest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfDest)
                @Html.ValidationMessageFor(model => model.PortOfDest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPkg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPkg)
                @Html.ValidationMessageFor(model => model.TotalPkg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrossWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrossWeight)
                @Html.ValidationMessageFor(model => model.GrossWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemDesc)
                @Html.ValidationMessageFor(model => model.ItemDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MessageType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageType)
                @Html.ValidationMessageFor(model => model.MessageType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsolAgentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConsolAgentId)
                @Html.ValidationMessageFor(model => model.ConsolAgentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomHouseCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomHouseCode)
                @Html.ValidationMessageFor(model => model.CustomHouseCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IgmNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IgmNo)
                @Html.ValidationMessageFor(model => model.IgmNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IgmDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IgmDate)
                @Html.ValidationMessageFor(model => model.IgmDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlightNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlightNo)
                @Html.ValidationMessageFor(model => model.FlightNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MawbDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MawbDate)
                @Html.ValidationMessageFor(model => model.MawbDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipmentType)
                @Html.ValidationMessageFor(model => model.ShipmentType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlightDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlightDate)
                @Html.ValidationMessageFor(model => model.FlightDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSubmitted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSubmitted)
                @Html.ValidationMessageFor(model => model.IsSubmitted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
