﻿@model StarAirEdi.Models.ChecklistViewModels

@{
    ViewBag.Title = "AccountStatement";
    
}

<h3>Account Statement</h3>


@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    <br /><br />
    <div class="form-vertical">
        <div class="form-group">
            <div>
                From Date: @Html.EditorFor(model=>model.StartDate, new { htmlAttributes = new { @class = "date-picker"} })
                To Date:   @Html.EditorFor(model =>model.EndDate, new { htmlAttributes = new { @class = "date-picker" } })
                <input type="submit" value="Search" />
            </div>
        </div>
        
    </div>
}


