﻿@model StarAirEdi.Models.ChecklistViewModels

@{
    //Layout = null;
    ViewBag.Title = "Account Statement Details By User";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title></title>
</head>
<br />
<body>
    <div align="center">
        <b>
            Account Statement For <b>@ViewBag.UserId</b><br />
            Period ( @ViewBag.StartDate And @ViewBag.EndDate)
            <br />
        </b>
    </div>

    <table class="table table-bordered">
        @foreach (var item in Model.mawbs)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.MawbNo)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.TransmittedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.CustomHouseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.ConsolAgentId)
                </th>
                <th>
                    @Html.DisplayName("No Of HAWB")
                </th>
            </tr>
            break;
        }
        @foreach (var item in Model.mawbs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MawbNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransmittedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomHouseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsolAgentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hawbs.Count)
                </td>

            </tr>
        }
        <tr>
            <th>Total Mawb : </th>
            <th>@Model.mawbs.Count()</th>
            <th></th>
            <th></th>
            <th>Total Hawb : </th>
            <th>@Model.mawbs.Sum(s => s.Hawbs.Count())</th>
        </tr>

    </table>


    <script type="text/javascript">
        if (window.print) {
            document.write('<form> <center>'
            + '<input type=button name=print id="b1" value=" Print Page "  '
            + 'onClick="printpage()">  </center></form>');
        }
        function printpage() {
            document.getElementById('b1').style.display = 'none';
            window.print();
        }
        // End -->
    </script>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


