﻿@model StarAirEdi.Models.ChecklistViewModels

@{
    ViewBag.Title = "CheckList Details";
}

<h3>CheckList Details</h3>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title></title>
    
</head>
<body>
    <table class="table table-bordered">
        @foreach (var item in Model.mawbs)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.MawbNo)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.PortOfOrg)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.PortOfDest)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.TotalPkg)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.GrossWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItemName => item.ItemDesc)
                </th>

            </tr>
        }
        @foreach (var item in Model.mawbs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MawbNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortOfOrg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortOfDest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPkg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDesc)
                </td>
            </tr>
        }

    </table>

    <table class="table table-bordered">
        @foreach (var item in Model.hawbs)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.HawbNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.PortOfOrigin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.PortOfDest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.NoOfPkg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Description)
                </th>
                
            </tr>
            break;
        }
        @foreach (var hawbItem in Model.hawbs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.HawbNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.PortOfOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.PortOfDest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.NoOfPkg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => hawbItem.Description)
                </td>
                
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <th>Total</th>
            <th>@Model.hawbs.Sum(s=>s.NoOfPkg)</th>
            <th>@Model.hawbs.Sum(s => s.Weight)</th>
        </tr>

    </table>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script type="text/javascript">
        if (window.print) {
            document.write('<form> <center>'
            + '<input type=button name=print id="b1" value=" Print Page "  '
            + 'onClick="printpage()">  </center></form>');
        }
        function printpage() {
            document.getElementById('b1').style.display = 'none';
            window.print();
        }
        // End -->
    </script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

