﻿@model StarAirEdi.Models.Hawb

@{
    ViewBag.Title = "Edit";
}

<h3>Edit</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hawb</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.MawbId)
        <div class="form-group">
            @Html.LabelFor(model => model.MawbId, "MawbId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MawbId1", (IEnumerable<SelectListItem>)ViewBag.Mawb, new { @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.MawbId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HawbNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HawbNo, new { htmlAttributes = new { @maxlength = "20", @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.HawbNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfOrigin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfOrigin, new { htmlAttributes = new { @maxlength = "3", @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.PortOfOrigin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortOfDest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortOfDest, new { htmlAttributes = new { @maxlength = "3", @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.PortOfDest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfPkg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfPkg)
                @Html.ValidationMessageFor(model => model.NoOfPkg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @maxlength = "30", @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.MessageType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageType)
                @Html.ValidationMessageFor(model => model.MessageType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HawbDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HawbDate)
                @Html.ValidationMessageFor(model => model.HawbDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipmentType)
                @Html.ValidationMessageFor(model => model.ShipmentType)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
