﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Star Edi Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand"})
                @*, style = "background: url('" + Url.Content("~/images/logo.jpg") + "') no-repeat center right; display:block; height:40px; width:120px;"*@ 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("MAWB", "Index", "Mawb")</li>
                        <li>@Html.ActionLink("HAWB", "Index", "Hawb")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transmission<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Transmit", "Create", "SubmitConsol")</li>
                                <li>@Html.ActionLink("ReTransmit", "ReTransmit", "SubmitConsol")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Checklist", "Index", "Checklist")</li>    
                                <li>@Html.ActionLink("Account Statement", "AccountStatement", "Checklist")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Location", "Location", "Home")</li>
                        <li>@Html.ActionLink("Can/Do", "Index", "DeliveryOrder")</li>
                        @if(User.IsInRole("SuperAdmin"))
                        {
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Register Role", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Register User", "Register", "Account")</li>
                                <li>@Html.ActionLink("Register Profile", "Index", "Profile")</li>
                                <li>@Html.ActionLink("Account Statement By User", "AccountStatementUser", "Checklist")</li>
                            </ul>
                        </li>
                        }
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @if (Request.RequestContext.RouteData.Values["controller"].ToString() != "Checklist" && Request.RequestContext.RouteData.Values["action"].ToString() != "PrintDeliveryOrder")
        { 
        <footer>
            <p>&copy; @DateTime.Now.Year - Star Edi Services</p>
        </footer>
        }
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script> 
    
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script>

        //$(function () {
        //    // This will make every element with the class "date-picker" into a DatePicker element
        //    $('.date-picker').datepicker({ dateFormat: 'dd/mm/yy', changeYear: false });
        //})

        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".date-picker").datepicker({ dateFormat: 'dd/mm/yy', changeYear: false });
        });
    </script>


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
