﻿@model StarAirEdi.Models.Hawb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hawb</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HawbNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HawbNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortOfDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortOfDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfPkg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfPkg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HawbDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HawbDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mawb.MawbNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mawb.MawbNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
