﻿@model StarAirEdi.Models.Hawb
@{
    ViewBag.Title = "ReTransmit";
}

<h3>ReTransmit</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @*<h4></h4>*@
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MawbId, "Select Master AWB:", new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.DropDownList("MawbId", (IEnumerable<SelectListItem>)ViewBag.MawbId, "Select MAWB", new { style = "width:175px;height:25px" })
                @Html.ValidationMessageFor(model => model.MawbId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <div><br /><br /><br /></div>
        @if (ViewBag.result == "success")
        {
            <div class="alert alert-success">
                <strong>Success!</strong> Master AWB submitted Successfully,refer to icegate.gov.in for submission status!
            </div>
        }
    </div>
     <div>
     <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
